<section id="trabalhos" class="trabalhos-bg">
  <div class="container">
    <h2>Trabalhos</h2>
    <div class="projetos-grid">
      <div class="projeto-card">
        <img [src]="artes[0].imagem" [alt]="artes[0].titulo" class="projeto-imagem">
        <h4>Camisas</h4>
        <p>Camisas "O amor é o nosso elo"</p>
      </div>
      <div class="projeto-card">
        <img [src]="artes[1].imagem" [alt]="artes[1].titulo" class="projeto-imagem">
        <h4>Pintura de Parede</h4>
        <p>Projeto especial para loja @useyela</p>
      </div>
      <div class="projeto-card">
      <img [src]="artes[2].imagem" [alt]="artes[2].titulo" class="projeto-imagem">
        <h4>Ecobags</h4>
        <p>Pintura especial feita a mão para o dia dos professores</p>
      </div>
      <div class="projeto-card">
      <img [src]="artes[3].imagem" [alt]="artes[3].titulo" class="projeto-imagem">
        <h4>Quadros</h4>
        <p>Quadros pintados a mão com temática natalina</p>
      </div>
    </div>
  </div>
</section>