.footer {
  display: block;
  width: 100%;
  background: linear-gradient(
    to bottom, 
    var(--cor-fundo) 0%, 
    var(--cor-fundo-header) 40%, 
    var(--cor-fundo-header) 100%
  );
  padding: 50px 20px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  text-align: center;

  a {
    font-size: 1.8rem; 
    color: var(--cor-texto-titulo);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--cor-texto-corpo); 
    }
  }

  p {
    font-size: 0.9rem;
    color: var(--cor-texto-corpo);
    margin-top: 10px;
    letter-spacing: 0.5px;
  }
}

.footer-copyright p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5); 
  text-align: left;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social,
  .footer-copyright p {
    text-align: center;
  }
}