:host {
  /* O :host é o container do componente */
  display: block;
  position: fixed; // Fica fixo na tela
  top: 0;
  left: 0;
  width: 80%; // Ocupa 80% da tela
  height: 100vh;
  background-color: var(--cor-branco); // Fundo branco
  z-index: 50; // Fica atrás do .pushable-content
  
  /* Começa escondido fora da tela (à esquerda) */
  transform: translateX(-100%); 
  
  /* Animação (deve ser a mesma do .pushable-content) */
  transition: transform 0.4s ease-in-out;
}

/* Quando o menu-open é aplicado, o :host não se mexe,
   mas usamos o *ngIf no HTML para ele "existir" 
   e o .pushable-content se mexe, revelando o menu.
   
   (Uma abordagem alternativa é usar [class.isOpen]="isOpen" no :host
   e mudar o transform aqui, o resultado é o mesmo)
*/

.side-menu-container {
  padding: 120px 40px 40px 40px; // Espaço no topo para o header
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; // Faz os links ocuparem o espaço principal
}

li {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: var(--cor-texto-titulo); // Cor mais escura
  font-size: 1.3rem; // Tamanho grande
  font-weight: 500;
}

.menu-footer {
  /* Isso é o 'Encontre uma loja' ou 'Faça um Orçamento' */
}

.menu-cta-button {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid var(--cor-texto-titulo);
  border-radius: 30px;
  font-weight: 700;
}