#loja {
  background-color: var(--cor-primaria);
}

.loja-card {
  background: var(--cor-branco);
  padding: 40px;
  border-radius: var(--borda-raio);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  margin-top: 50px;
}

.loja-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: flex-start;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 60px;
  color: #999;

  position: relative;
  padding-top: 20px;
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--cor-secundaria); 
}

.loja-texto h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.loja-texto p {
  line-height: 1.7;
  color: var(--cor-texto-corpo);
}

.servicos h4 {
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--cor-texto-titulo);
}

.servicos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.servicos-lista li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;

  i {
    font-size: 1.2rem;
    color: var(--cor-texto-titulo);
    margin-top: 3px;
  }

  strong {
    display: block;
    color: var(--cor-texto-titulo);
    margin-bottom: 4px;
    font-weight: 700;
  }

  span {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--cor-texto-corpo);
  }
}

.cta-button {
  display: inline-block;
  background: var(--cor-branco);
  color: var(--cor-texto-titulo);
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--cor-cinza-claro);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 10px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 768px) {
  .loja-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .loja-card {
    padding: 30px;
  }
  .loja-texto p{
    text-align: justify;
  }
}