<section id="sobre">
  <div class="container">
    <div class="sobre-content">
      
      <img src="../../../assets/CO-Artjhulie.jpg" alt="Foto da Artista">
      
      <div class="sobre-texto">
        <h2>Sobre a Artista</h2>
        <h3>Olá! Sou Alice, uma artista apaixonada por criar experiências visuais únicas e elegantes.</h3>
        <p>Especialista em pinturas de parede, artes digitais e personalizações, transformando ideias em obras de arte memoráveis. Minha jornada é movida pela busca da beleza no cotidiano, trazendo traços delicados e cheios de significado para cada projeto.</p>
      </div>

    </div>
  </div>
</section>